<div class="content"></div>
<div *ngFor="let property of dataValues" >
	<div class="card-container" style="display: grid;" *ngIf="sucess">
    <div class="card" target="_blank" rel="noopener" >
      <p style="font-weight: bold; font-size: xx-large;color: blue"> {{symb}}{{property.valor}}</p>
      <p style="font-weight: bold;"> Nombre: <input type="text" id="lname" name="lname" value = "{{nombre}}" style= "text-align: center" disabled></p>
      <p style="font-weight: bold;"> Fecha: <input type="text" id="lname" name="lname" value = "{{property.fecha}}" style= "text-align: center" disabled></p>
      <p style="font-weight: bold;"> Unidad de 	Medida: <input type="text" id="lname" name="lname" style= "text-align: center" value = "{{unidad}}" disabled></p>
   </div>
    
  </div> 
</div>

<div class="card-container" style="display: grid;" *ngIf="!sucess">
<div class="card" target="_blank" rel="noopener"  >
  <p style="font-weight: bold;"> No hay datos</p>
</div>	
</div> 
