
<!-- Toolbar -->
<div class="toolbar" role="banner">
	<div [routerLink]="['/indicator']"><fa-icon [icon]="fabars" style = "margin-left:20px; margin-right: 10px;cursor: pointer;" ></fa-icon><a>Menu Principal</a></div> 
</div>

<div class="content" role="main">
  <!-- Highlight Card -->
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
 